body {
  font-family: "Brandon Text Regular"
}

a {
  text-decoration: underline;
  text-decoration-color: #9B84B2;
  text-decoration-style: double;
  cursor: pointer;
  color: #02B5C4;
}

#react-entry-point {
  border: none;
}

#input_div {
  border-width: 1px;
  border-style: solid;
  border-color: #BBBBBB;
}

#upload_data {
  width: 20%;
  height: 80px;
  margin: 0.5%;
  margin-left: 18.5%;
  text-align: center;
  line-height: 500%;
  border-radius: 5px;
  border-width: 1px;
  border-style: dashed;
  border-color: #BBBBBB;
}

#data_files_list {
  width: 20%;
  margin: 0.5%;
  border-radius: 5px;
  border-width: 1px;
  border-style: dashed;
  border-color: #BBBBBB;
}

#react-select-2--value {
  height: 75px;
  max-height: 75px;
  overflow: auto;
}

#symbol_ids_list {
  width: 20%;
  margin: 0.5%;
  border-radius: 5px;
  border-width: 1px;
  border-style: dashed;
  border-color: #BBBBBB;
}

#react-select-3--value {
  height: 75px;
  max-height: 75px;
  overflow: auto;
}

.Select-control {
  border: none;  
}

.Select--multi .Select-value {
  background-color: #7FC9D1;
  border: 1.5px solid #9B84B2;
  color: white;
}

.Select--multi .Select-value-icon {
  border-right: 1px solid #9B84B2;
}

.Select-menu-outer {
  color: #7FC9D1;
}
